---
import Form from "../components/Form"
import TodoApp from "../components/TodoApp"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body class="bg-[#0f0f0f]">
	<div class="flex justify-center">
		<TodoApp client:load/>
	</div>
	
</body>
</html>