---
import Form from "../components/Form"
import TodoApp from "../components/TodoApp"
import { GiGreekTemple } from "react-icons/gi";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="manifest" href="/public/manifest.json" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body class="bg-[#0f0f0f]">
	<nav class="flex items-start w-full p-4 py-6 text-white bg-black">
		<GiGreekTemple size={45}/>
		<h1 class="font-bold text-4xl ml-4">Logos</h1>
	</nav>
	<div class="flex justify-center mt-12">
		<TodoApp client:load/>
	</div>
	
</body>
</html>