/* src/components/TodoApp.css */

/* Clase cuando el elemento está entrando */
.fade-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  /* Clase cuando el elemento está saliendo */
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  